body {
	background-color: #FF00FF;
}

img {

}

h1 {
	
}

h2 {

	

}

p {
	
}

article {



}

#ANIMAL1 {
	background-color: #FFFF00;
	padding: 10px;
}

#ANIMAL2 {
	background-color: #00FF00;
	padding: 10px;
}

#ANIMAL3 {
	background-color: #FF0000;
	padding: 10px;
}

