<html>
  <head>
    <title>REPLACE THE TITLE</title>
    <link type='text/css' rel='stylesheet' href='animals.css' />
  </head>
  <body>

    <h1>REPLACE THIS HEADLINE</h1>

    <article id='ANIMAL1' >
      <h2>THE FIRST ANIMAL</h2>

      <img src='REPLACE1.IMG' />

      <p>REPLACE ANIMAL 1 TEXT REPLACE</p>

    </article>

    <article id='ANIMAL2' >
      <h2>THE SECOND ANIMAL</h2>

      <img src='REPLACE2.IMG' />

      <p>REPLACE ANIMAL 2 TEXT REPLACE</p>

    </article>

    <article id='ANIMAL3' >
      <h2>THE THIRD ANIMAL</h2>

      <img src='REPLACE3.IMG' />

      <p>REPLACE ANIMAL 3 TEXT REPLACE</p>

    </article>


  </body>
</html>

