
body {
	background-color: #333366;
	width: 400px;
	margin: 0 auto;
	font-family: sans-serif;
}

h1, h2 {
	text-align: center;
	color: #333366;
	background-color: #ccccff;
	padding: 10px;
	border: 10px solid #666699;
	margin: 20px 0 10px 0;
}

h1 {
	border-bottom: none;
	margin-bottom: 0;
}

h2 {
	border-top: none;
	margin-top: 0;
	font-size: 10pt;
}

p {
	padding: 10px;
	margin: 0;
	border: 10px solid #999999;
	transition: color 6s;
}

p.q {
	border-bottom: none;
	background-color: #ffffff;
	color: #000000;
	text-align: left;
	margin-top: 10px;
}

p.a {
	border-top: none;
	background-color: #000000;
	color: #000000;
	text-align: right;
	margin-bottom: 10px;
	
}

.a:hover {
	color: #ffffff;
	
}

