body {
	background-color: #666666;
}

img {
	display: block;
	width: 300px;
	border: 10px outset #cccc99;
	margin: 10px auto;
}

h1 { 
	width: 400px;
	background-color: #333333;
	color: #cccccc;
	border: 10px outset #999999;
	text-align: center;
	margin: 20px auto;
	padding: 10px;
}

h2 {
	border-bottom: 2px dotted #cccc99;
	text-align: right;
}

article {
	width: 400px;	
	margin: 10px auto;
}

figcaption {
	text-align: center;
	font-size: 12pt;
}

#blackbear {
	background-color: #ffffcc;
	padding: 10px;
	border: 10px inset #cccc99;
	
}

a:link {
	color: #000000;
}

a:visited {
	color: #666666;
}

a:hover {
	color: #cccccc;
}

a:active {
	color: fuchsia;
}
