body {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

section.q {
  border: 2px dotted #666666;
  padding: 10px;
  margin: 10px 0;
}

label {
  display: block;
  text-align: left;
}

input[type=radio] {
  opacity: 0;
  width: 0;
}
